.notification-success{
    background-color: #f2f2f2; 
    color: green; 
    border: 1px solid green; 
    padding: 10px; 
    margin: 10px 0; 
    text-align: center; 
    border-radius: 5px; 
    box-shadow: 0 0 10px rgba(0,0,0,0.1); 
    font-weight: bold; 
  }
  
  .notification-error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    font-weight: bold;
  }